@import "css/HomePage.css";
@import "css/navbar.css";
@import "css/footer.css";
@import "css/ContactForm.css";
@import "css/Buttons.css";
@import "css/Login.css";

body    {
    min-height: 100vh!important;
    display: flex!important;
    flex-direction: column!important;
    background-color:  #4A4A4A!important;
}