<footer class="T-footer bg-dark text-center" style=" margin-top: auto!important; position: sticky!important; color: #fecea8;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="footer-link social btn btn-outline-light btn-floating m-2" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
                ></a>

            <!-- Google -->
            <a class="footer-link social btn btn-outline-light btn-floating m-2" href="#!" role="button"
            ><i class="fab fa-google"></i
                ></a>

            <!-- Instagram -->
            <a class="footer-link social btn btn-outline-light btn-floating m-2" href="#!" role="button"
            ><i class="fab fa-instagram"></i
                ></a>

            <!-- Linkedin -->
            <a class="footer-link social btn btn-outline-light btn-floating m-2" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
                ></a>

            <!-- Github -->
            <a class="footer-link social btn btn-outline-light btn-floating m-2" href="#!" role="button"
            ><i class="fab fa-github"></i
                ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: #fecea8">
        © 2020 Copyright:
        <a class="footer-link" href="/">T-Store</a>
    </div>
    <!-- Copyright -->
</footer>