.nav-link  {
    color: #fecea8!important;
}

.dropdown-menu {
    background-color: #1A1E21 !important;
}

.dropdown-item  {
    color: #fecea8!important;
}

.login  {
display: flex;
align-items: center;
}

.logout a   {
    margin-left: 10px;
}