{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div>
    <h2>Contact us!</h2>

    <p>We love hearing from you! <br>
        If you have any questions, suggestions, or just need a buddy to talk to, contact us with the form below!</p>
</div>

    <div class="formContact">
    {{ form(contact) }}
    </div>
{% endblock %}
