<p>Hey there! I'm Tomas Spit, creator of this site.

This site is a personal project on which i work, to gain more experience
and play around with new concepts.

This site is therefore created in a educational environment.

This website is created with the Symfony framework (6.3), PHP (8.2), JS, HTML and CSS.

A little bit about myself:

I started working as a web developer in 2023. Before this i worked 8 years as a baker.

Loving this work, i spent these 8 years developing a lot of soft skills:
- Working in a team. I had the opportunity to work in several bakeries and in several different teams.
This helped a lot to being a great team-player and work my people skills.
- Problem-solving on a daily basis. In the bakery we work with living products, and
the environment that we work in changes every day depending on the weather, the temperatures,
humidity. All of this needs to be calculated in to the work and you need to be able to adapt yourself
non-stop.
- Direct daily contact with the clients. There hasn't been 1 day during these 8 years that i didn't
haven't had a client come up to talk, talk about the personal life, about problems with the products,
or give advise on certain things. Because of this, client-relations are no problem for me.


However, working during the weekends, the nights, and the public holidays made me miss out on too much
    time with my family. So i decided to change course completly and launch myself into the the world
    of Web Development. I always had a strong interest in everything IT related, but i never took it further.

I did a bootcamp of 5 months that allowed me to learn and improve all my skills in Web Dev.
    During this bootcamp, i got hands on experience in PHP with the framework Symfony, HTML, CSS, JS, Docker, MySQL, SQL, and several others.
    This site is one of the projects i created during this time.
    If you want to see more projects, want to connect on Linked-in, see the code for this or other projects of mine,
    check out the links below.
</p>

